@{
    ViewBag.Title = "Inicio del Juego del Ahorcado";
}

<h2>🎮 Bienvenido al Juego del Ahorcado</h2>

<p>Usa las opciones siguientes para comenzar a jugar:</p>

<div class="row" style="margin-top:20px;">
    <div class="col-md-6">
        <a href="@Url.Action("Create", "Jugadores")" class="btn btn-success btn-lg btn-block">
            ➕ Crear Jugador
        </a>
    </div>
    <div class="col-md-6">
        <a href="@Url.Action("Create", "Palabras")" class="btn btn-warning btn-lg btn-block">
            📝 Agregar Palabra
        </a>
    </div>
</div>

<div class="row" style="margin-top:20px;">
    <div class="col-md-6">
        <a href="@Url.Action("Create", "Partidas")" class="btn btn-primary btn-lg btn-block">
            🎲 Iniciar Partida
        </a>
    </div>
    <div class="col-md-6">
        <a href="@Url.Action("Index", "Escalafon")" class="btn btn-info btn-lg btn-block">
            📊 Ver Escalafón
        </a>
    </div>
</div>
