@model Ahorcado.Models.Jugador

@{
    ViewBag.Title = "Eliminar Jugador";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

<h2 class="text-center text-danger mb-4"><i class="fas fa-user-times"></i> Eliminar Jugador</h2>

<div class="card shadow p-4 bg-dark text-white">
    <h4 class="mb-3">¿Estás seguro de que deseas eliminar este jugador?</h4>

    <dl class="row">
        <dt class="col-sm-3">Nombre:</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Nombre)</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="mt-4">
            <input type="submit" value="Eliminar" class="btn btn-danger me-2" />
            @Html.ActionLink("← Cancelar", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    }
</div>

